{% extends 'base.html' %}
{% load static %}
{% block main_content %}
<script src="https://use.fontawesome.com/54a3a930a8.js"></script>
<h1 style="padding-left:100px !important">Agregar Veterinario</h1>

<div class="form-body">
        <!-- BEGIN FORM-->
        <form action="valores_parametrizables_edit_save" class="horizontal-form" method="post" id="formulario">
            <div class="form-body" style="padding-left:100px !important">

                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="control-label">RUT</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-id-card"></i>
                                </div>
                                <input type="text" id="rut_veterinario" name="rut_veterinario" class="form-control" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="control-label">Nombre</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-etsy"></i>
                                </div>
                                <input type="text" id="nombre_veterinario" name="nombre_veterinario" class="form-control" value="" data-error="#errMMD">
                            </div>
                        </div>
                        <div class="errorTxt">
                            <span id="errMMD"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="control-label">Dirección</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <input type="text" id="direccion_veterinario" name="direccion_veterinario" class="form-control" value="" data-error="#errPMM">
                            </div>
                            <div class="errorTxt">
                                <span id="errPMM"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="control-label">Correo</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-at"></i>
                                </div>
                                <input type="text" id="correo_veterinario" name="correo_veterinario" class="form-control" value="" data-error="#errNMC">
                            </div>
                            <div class="errorTxt">
                                <span id="errNMC"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="control-label">Teléfono</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-mobile"></i>
                                </div>
                                <input type="text" id="tel_veterinario" name="tel_veterinario" class="form-control" value="" data-error="#errPLB">
                            </div>
                            <div class="errorTxt">
                                <span id="errPLB"></span>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Valor Máximo de Sobretiempo</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="fa fa-usd custom"></span>
                                </div>
                                <input type="text" id="monto_maximo_sobretiempos" name="monto_maximo_sobretiempos" class="form-control" value="" data-error="#errMdS">
                            </div>
                        </div>
                        <div class="errorTxt">
                            <span id="errMdS"></span>
                        </div>
                    </div>
                -->
                </div>
                <div class="form-actions nobg fluid">
                    <input type="hidden" name="_csrf_token" value="">
                    <button type="button" class="btn btn-default">Cancelar</button>
                    <button type="submit" class="btn btn-info">
                        <i class="fa fa-check"></i>
                        Guardar</button>
                </div>
            </form>
            <!-- END FORM-->
        </div>
{% endblock %}
{% block script %}
<script>
    //Agregar la clase has-error y has-success al form-group como default en jQuery.validator .
    $.validator.setDefaults({
        highlight: function(element) {
            $(element).closest('.form-group').removeClass('has-success');
            $(element).closest('.form-group').addClass('has-error');
        },
        unhighlight: function(element) {
            $(element).closest('.form-group').removeClass('has-error');
            $(element).closest('.form-group').addClass('has-success');
        },
        errorElement: 'span',
        errorClass: 'help-block',
        errorPlacement: function(error, element) {
            if (element.parent('.input-group').length) {
                error.insertAfter(element.parent());
            } else {
                error.insertAfter(element);
            }
        }
    });
    $(document).ready(function() {
        //hace que no se puedan ingresar campos que no sean numericos en todos los campos
        $("#rut_veterinario").bind("keydown", function(event) {
            if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 || (event.keyCode == 65 && event.ctrlKey === true) || (event.keyCode >= 35 && event.keyCode <= 39)) {
                return;
            } else {
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                    event.preventDefault();
                }
            }
        });
        $("#nombre_veterinario").bind("keydown", function(event) {
            if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 || (event.keyCode == 65 && event.ctrlKey === true) || event.keyCode == 75 || (event.keyCode >= 35 && event.keyCode <= 39)) {
                return;
            } else {
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                    event.preventDefault();
                }
            }
        });
        $("#direccion_veterinario").bind("keydown", function(event) {
            if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 || (event.keyCode == 65 && event.ctrlKey === true) || (event.keyCode >= 35 && event.keyCode <= 39)) {
                return;
            } else {
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                    event.preventDefault();
                }
            }
        });
        $("#correo_veterinario").bind("keydown", function(event) {
            if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 || (event.keyCode == 65 && event.ctrlKey === true) || (event.keyCode >= 35 && event.keyCode <= 39)) {
                return;
            } else {
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                    event.preventDefault();
                }
            }
        });
        $("#tel_veterinario").bind("keydown", function(event) {
            if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 || (event.keyCode == 65 && event.ctrlKey === true) || (event.keyCode >= 35 && event.keyCode <= 39)) {
                return;
            } else {
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                    event.preventDefault();
                }
            }
            });
        //Valida el submit para rut y dv.
        $("#formulario").validate({
            rules: {
                rut_veterinario: {
                    required: true
                },
                nombre_veterinario: {
                    required: true
                },
                direccion_veterinario: {
                    required: true
                },
                correo_veterinario: {
                    required: true
                },
                tel_veterinario: {
                    required: true
                },
            },
            messages: {
                rut_veterinario: {
                    required: "El campo ID mascota es obligatorio"
                },
                nombre_veterinario: {
                    required: "El campo nombre es obligatorio"
                },
                direccion_veterinario: {
                    required: "El campo edad es obligatorio"
                },
                correo_veterinario: {
                    required: "El campo peso es obligatorio"
                },
                tel_veterinario: {
                    required: "El campo rut dueño es obligatorio"
                },
            }
        });
    });
</script>
{% endblock %}
